<!DOCTYPE html>
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>赶紧注册一个吧</h1>

</div>
<div >

        {{ wtf.quick_form(form) }}
    
</div>

<div class="container">

    <div class="container-fluid">
        <h3>排序前</h3>
    {% for site in sites %}
     <a href="http://{{ site.site }}" class="btn btn-default btn-lg " role="button">{{site.name}}</a>
    {% endfor %}
    </div>
        <h3>排序后</h3>
    <div class="container-fluid">

    {% for site in sorted_sites %}

     <a href="http://{{ site[2] }}" class="btn btn-default btn-primary btn-lg " role="button">{{site[0]}}</a>
    {% endfor %}
    </div>

</div>

{% endblock %}
